body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #f9c9d2;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-menu.active {
    display: block;
}

.nav-toggle {
    display: none;
}

/* Para móviles */
@media (max-width: 768px) {
    .nav-toggle {
        display: block;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
    }
}

section {
    padding: 20px;
}

form input, form textarea, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.form-message.success {
    color: green;
}

.form-message.error {
    color: red;
}
